<label>Danh sách list bảo trì</label>
<form>
  <div class="mb-3 bg-light d-flex justify-content-between px-2 py-2">
    <div class="row">
      <div class="col-auto">
        <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" placeholder="Search">
      </div>
      <div class="col-auto">
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshShifts()" name="pageSize">
          <option [ngValue]="3">3</option>
          <option [ngValue]="4">4</option>
          <option [ngValue]="5">5</option>
        </select>
      </div>
    </div>

    <div>
      <button class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Xuất Excel</button>
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Mã bảo trì</th>
    <th scope="col">Loại POP</th>
    <th scope="col">POP</th>
    <th scope="col">NV Bảo trì</th>
    <th scope="col">Ngày bảo trì</th>
    <th scope="col">Ngày bảo trì thực tế</th>
    <th scope="col">Loại bảo trì</th>
    <th scope="col">Trạng thái</th>
    <th scope="col">Kiểm soát</th>
    <th scope="col">Số tiêu chí NOT OK</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let shift of shifts$ | async;">
    <td>{{shift.ID}}</td>
    <td><ngb-highlight [result]="shift.Code" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="shift.POPType" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="shift.POP" [term]="filter.value"></ngb-highlight></td>
    <td><span class="badge bg-secondary" *ngFor="let staff of shift.Staff">{{staff}}</span></td>
    <td>{{shift.MaintainDate | date:'dd/mm/yyyy' }}</td>
    <td>{{shift.RealDate | date:'dd/mm/yyyy' }}</td>
    <td>{{shift.MaintainType}}</td>
    <td>{{shift.Status}}</td>
    <td>{{shift.Control}}</td>
    <td>{{shift.NOTOK}}</td>
    <td>
      <button class="btn btn-info btn-small mx-1 my-1"><i class="fa fa-info" aria-hidden="true"></i> Xem</button>
      <button class="btn btn-warning btn-small mx-1 my-1"><i class="fa fa-edit" aria-hidden="true"></i> Sửa</button>
      <button class="btn btn-danger btn-small mx-1 my-1"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
    </td>
  </tr>
  </tbody>
</table>


<div class="d-flex justify-content-between p-2">
  <span class="fw-light">Tìm thấy {{collectionSize}} kết quả</span>

  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="refreshShifts()"></ngb-pagination>
</div>
