<div class="sidebar-nav">
  <h5><i class="fa fa-wrench mx-2" aria-hidden="true"></i>Bảo trì đài trạm INF</h5>
  <ul class="list-group">
    <li class="list-group-item">
      <i class="fa fa-calendar mx-2" aria-hidden="true"></i>
      <a href="/create-maintainance-shift">Tạo ca bảo trì</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-list mx-2" aria-hidden="true"></i>
      <a href="/view-maintainance-shift">Danh sách ca bảo trì</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-envelope-o mx-2" aria-hidden="true"></i>
      <a href="/list-mail">DS nhận mail bảo trì</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-bar-chart-o mx-2" aria-hidden="true"></i>
      <a href="/report">Thống kê báo cáo</a>
    </li>
  </ul>
</div>
