<p appChangeText>Welcome {{title}}</p>

<div>
  <span>Months</span>
  <select>
    <option *ngFor="let i of months" [innerHtml]="i"></option>
  </select>
</div>

<h1 [innerText]="title"></h1>

<h2>Example 1</h2>
<button (click)="clickMe()">Click Me</button>
<p>You have clicked {{clickCount}}</p>

<input (keydown.enter)="clickMe()"> <p>Enter to increase count</p>


<input (keyup.enter)="value=$any($event.target).value" (keyup.space)="$any($event.target).value='';value=''">
<p>You have entered {{value}}</p>


<h2>Template Reference Variable</h2>
<input #el (input)="handleInput1(el)">
<p>You have entered {{value}}</p>

<div *ngIf = "isTrue; then con1 else con2"></div>
<ng-template #con1>True</ng-template>
<ng-template #con2>False</ng-template>


<app-new-cmp></app-new-cmp>
