<app-smaller-containter #container title="Chi tiết báo cáo: {{shift.Code}}" [childTemplate]="detail" *ngIf="show"></app-smaller-containter>

<ng-template #detail>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="col">Loại POP</th>
        <td>{{shift.POPType}}</td>
      </tr>
      <tr>
        <th scope="col">POP</th>
        <td>{{shift.POP}}</td>
      </tr>
    <tr>
      <th scope="col">NV Bảo trì</th>
      <td><span class="badge bg-secondary me-1" *ngFor="let staff of shift.Staff">{{staff}}</span></td>
    </tr>
    <tr>
      <th scope="col">Ngày bảo trì</th>
      <td>{{shift.MaintainDate | date:'dd/MM/yyyy' }}</td>
    </tr>
    <tr>
      <th scope="col">Ngày bảo trì thực tế</th>
      <td>{{shift.RealDate | date:'dd/MM/yyyy' }}</td>
    </tr>
    <tr>
      <th scope="col">Loại bảo trì</th>
      <td>{{shift.MaintainType}}</td>
    </tr>
    <tr>
      <th scope="col">Trạng thái</th>
      <td>{{shift.Status}}</td>
    </tr>
  </tbody>
  </table>
  <app-paragraph-input title="Xác nhận bảo trì"></app-paragraph-input>
  <div>
    <div class="btn-group my-2" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
      <label class="btn btn-outline-success" for="btnradio1">OK</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
      <label class="btn btn-outline-danger" for="btnradio3">Not OK</label>
    </div>
  </div>
  <div>
    <button class="btn btn-primary text-white">Xác nhận kết quả</button>
  </div>
</ng-template>
