<app-modal-main [childTemplate]="viewListMail" [title]="title"></app-modal-main>

<ng-template #viewListMail>
  <app-container-with-sidebar [templateInsideModal]="insideSidebar" titleSidebar="Xem danh sách bảo trì" [templateOutsideModal]="outsideSidebar"></app-container-with-sidebar>
  <ng-template #insideSidebar>
    <form>
      <div class="small-form container-fluid mb-3">
        <app-location></app-location>
      </div>
      <button class="btn btn-primary" (click)="openContainer()">Xem</button>
    </form>
  </ng-template>
  <ng-template #outsideSidebar>
    <app-smaller-containter #container [childTemplate]="listmaintain" title="Danh sách bảo trì"></app-smaller-containter>
    <ng-template #listmaintain>
      <app-list-maintain></app-list-maintain>
    </ng-template>
  </ng-template>
</ng-template>

