form > div label {
  color: purple;
  text-align: right;
}

.modal-header {
  background-color: greenyellow;
}

form .pop > div > div {
  border: solid black 1px;
}

form .pop > div > div > button {
  width: 100%;
}

