<ng-template #content let-modal>
  <div class="modal-header">
    <div class="d-flex flex-fill justify-content-center text-success">
      <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <form>
            <div class="search-view container-fluid mb-3">
              <app-location></app-location>
              <app-pop></app-pop>
            </div>
            <button class="btn btn-success">Xem</button>
          </form>
        </div>
      </div>
    </div>


  </div>
</ng-template>

