#shopping-list li .completed {
    color: gray;
    text-decoration: line-through;
}
#shopping-list .card-body {
    border-style: dotted;

}
#shopping-list .box {
    border-style: dotted;
    height: 200px;
    width: 200px;
    overflow-y: auto;
}

#shopping-list .dragging-item {
    opacity: 0.5;
}

#shopping-list .dragover {
    border-color: red;
}
#shopping-list .dragdown {
    border-color: black;
}