<div class="sidebar-inside my-2" [ngClass]="{'open' : show, 'close': !show, 'pin': isPin, 'unpin': !isPin}" (mouseleave)="onMouseLeave()">
  <div class="sidebar-inside-header d-flex justify-content-between">
    <div class="mx-3 my-2">
      <h5>{{title}}</h5>
    </div>
    <div class="mx-2">
      <button class="btn btn-outline-secondary btn-small" [ngClass]="!isPin ? 'btn-light' : 'btn-secondary'"
      (click)="isPin = !isPin"><i class="fa fa-thumb-tack" aria-hidden="true"></i></button>
      <button class="btn btn-small" (click)="show = false"><i class="fa fa-close" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="sidebar-inside-body mx-4 mb-4">
    <ng-template [ngTemplateOutlet]="insideSidebar"></ng-template>
  </div>
</div>
